*{
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
}

aside{ /*Posicionamiento de la caja de categorías*/
	padding: 20px;
	margin-top: 17%;
}

.categoria h2{ /*Posicionamiento del título de categorías*/
	text-align: center;
}

.categoria{ /*Estilos para la caja de categorías*/
	border: 1px solid lightgrey;
	background-color: white;
	padding: 30px;
	border-radius: 20px;
}

.categoria .lista{ /*Estilos para la lista de categorías*/
	width: 100%;
	list-style: none;
	padding-left: 13%;
	line-height: 3.8em;
}

.lista a{ /*Estilos para los links de las categorías*/
	font-size: 1.4rem;
	box-shadow: inset 0 0 0 0 #59aed6;
  	color: black;
  	margin: 0 -.25rem;
  	padding: 0 .25rem;
  	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	text-transform: capitalize;
	text-decoration: none;
}

.lista a:hover{ /*Estilos para el hover de los links de categorías*/
	box-shadow: inset 100px 0 0 0 #59aed6;
  	color: white;
}

.principal{ /*Division por grid de la caja de categorías y la sección de productos*/
	background-color:  #EFEFEF;
	display: grid;
	grid-template-columns: 20% 80%;
}

.producto{ /*Estilos de la caja de productos*/
	margin: 20px;
	width: 250px;
	height: auto;
	background-color: #EFEFEF;
}


.seccionprincipal{ /*Posicionamiento para la seccion principal*/
	margin-top: 3.7%;
}

.listaproducto{ /*Estilos para la información del producto*/
	list-style: none;
	text-transform: capitalize;
}

.flex_container{ /*Posicionamiento por flexbox para las cajas de los productos*/
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
}

.muestra {
	display: flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
}

.muestra:hover .img {transform:scale(1.03) translate(0,0);} /*Estilos para el hover de la imagen del producto*/
.contenedor {overflow:hidden;}
.muestra img{
	margin-top: .3rem;
	width: 230px;
	height: 230px;
	border-radius: 10px;	
}

.muestra h4{
	margin-top:1rem;
}

.tienda{
	text-decoration:none;
	font-weight: bold;
	text-transform: capitalize;
	color: black;
}

.tienda:hover {
	transition-delay:1s, 150ms;
	transition-property: margin-right, color;
}

.preciocarrito{
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.preciocarrito .precio{
	margin-left: 25px;
	text-align: center;
	border-radius: 3px;
	padding: 5px;
	background-color: #59aed6;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.preciocarrito .carrito{
	margin-left: 40px;
	text-align: center;
	width: 55px;
	padding: 7px;
	color: white;
	background-color: #59aed6;
	border-radius: 3px;
}
.titulo1{
	margin-top: 1.5rem;
	background-color: #59aed6;
	padding: 20px;
	color: black;
	border-radius: 20px;
	text-decoration: none;
	text-align: center;
	width: 43%;
	margin-left: 25%;
}