body{ /*Color de fondo para el cuerpo de la pÃƒÂ¡gina*/
    background-color: #EFEFEF;
}

.producto{ /*Posicionamiento de la imagen del producto a un lado y el resto del contenido al otro lado*/
    display: grid;
    grid-template-columns: 40% 60%;
}

.muestra{ /*Estilos para la caja de la imagen del producto*/
    background-color: #59aed6;
    width: 290px;
    height: 330px;
    margin: 50px;
    padding: 19px;
    border-radius: 20px;
}

.muestra img{ /*TamaÃ±o y posicionamiento para la imagen del producto*/
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.muestra h4{ /*Estilos y posicionamiento para el nombre del producto*/
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.informacion{ /*Espaciado superior para el contenido de la descripcion del producto*/
    margin-top: 50px;
}

.descripcion{ /*Estilos para la caja de descripciÃ³n*/
    background-color: #59aed6;
    width: 600px;
    height: auto;
    padding: 15px;
    border-radius: 20px;
}

.listaproducto{ /*Estilos para la caja de informaciÃ³n*/
    background-color: #59aed6;
    width: 600px;
    height: auto;
    padding: 15px;
    border-radius: 20px;
}

.listaproducto li{ /*Estilos para la lista de informaciÃ³n*/
    list-style: none;
}

.preciocarrito .precio{ /*Estilos y posicionamiento para el botón del precio*/
    background-color: #59aed6;
    padding: 30px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.preciocarrito .carrito{ /*Estilos y posicionamiento para el botón del carrito de compras*/
    background-color: #59aed6;
    padding: 30px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 407px;
}

.tienda{ /*Estilos para el nombre de la tienda*/
    color: white;
    text-decoration: none;
}