<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>CtrUsuario</display-name>
    <servlet-name>CtrUsuario</servlet-name>
    <servlet-class>control.CtrUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrUsuario</servlet-name>
    <url-pattern>/CtrUsuario</url-pattern>
  </servlet-mapping>
  <display-name>CrudNuevoLienzoArt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CtrIndex</display-name>
    <servlet-name>CtrIndex</servlet-name>
    <servlet-class>control.CtrIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrIndex</servlet-name>
    <url-pattern>/CtrIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrSesion</display-name>
    <servlet-name>CtrSesion</servlet-name>
    <servlet-class>control.CtrSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrSesion</servlet-name>
    <url-pattern>/CtrSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrBarraBusqueda</display-name>
    <servlet-name>CtrBarraBusqueda</servlet-name>
    <servlet-class>control.CtrBarraBusqueda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrBarraBusqueda</servlet-name>
    <url-pattern>/CtrBarraBusqueda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrProducto</display-name>
    <servlet-name>CtrProducto</servlet-name>
    <servlet-class>control.CtrProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrProducto</servlet-name>
    <url-pattern>/CtrProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrProductoListarCategorias</display-name>
    <servlet-name>CtrProductoListarCategorias</servlet-name>
    <servlet-class>control.CtrProductoListarCategorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrProductoListarCategorias</servlet-name>
    <url-pattern>/CtrProductoListarCategorias</url-pattern>
  </servlet-mapping>
</web-app>