body{
	background-color: #EFEFEF;
	@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
	font-family: 'Mukta', sans-serif;
}

.formulario{
	width: 700px;
    padding: 30px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 7px 13px 37px #000;
    background-color: #59aed6;
}

h1{
	text-align: center;
	margin: 20px;
	color: white;
	font-weight: bold;
}

h6{
	color: white;
}

label{
	color: white;
}

p{
	color: white;
}

.registro{
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.seccion{
	margin-top: 7%;
}

#iconmain a img{
	display: block;
	margin: auto;
}

.btn{
	background-color:#CCEAF4;
	border: none;
	color: black;
}

.btn:hover{
	background-color: #a3cad7;
	color: black;
}